div.container
	div.row.my-5.align-center.d-flex.justify-content-between
		each val,index in obj

			div.card.my-3
				img.card-img-top(src=pic[index])
				div.card-body
					each opis,id in obj[index]
						- var nazwa = id.replace(/_/gi,' ');

						unless nazwa=="cena"
							p.card-text=nazwa+" : "+opis

				div.card-body.bg-success.text-light
					h6.card-text.text-center.font-weight-bold
						="Cena :"+obj[index]["cena"]